.orderHistory {
    height: 80vh;
    width: 100%;
    margin-top: 40px;
  }
  
  .profileList {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  
  .profileList::-webkit-scrollbar {
    width: 8px;
  }
  
  .profileList::-webkit-scrollbar-track {
    background: #2f2f37;
  }
  
  .profileList::-webkit-scrollbar-thumb {
    background: #a5a5d6;
  }
  
  .profileList::-webkit-scrollbar-thumb:hover {
    background: #8585ad;
  }
  
  .listItem {
    width: 95%;
    min-height: 210px;
    background: #1c1c21;
    border-radius: 40px;
    padding: 24px;
    transition: 0.2s;
  }
  
  .listItem:hover {
    transform: scale(0.97);
  }