.user {
    max-width: 480px;
    margin-top: 120px;
  }
  
  .userList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .userListItem {
    width: 100%;
    text-align: right;
  }
  
  .buttonBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }